//button((click)="sendJSON()") Send JSON

h1
  // here we echo the title from the component
  | {{img}}



form([formGroup]="loadPictureForm")
  input-file(formControlName="file", (change)='fileChangeEvent($event)')
  //button(type="submit", (click)="loadPicture()") Send Picture

div(*ngIf="img")
  img([src]="img")

  img(src="https://storage.googleapis.com/deuploadfile/javascript600.png")
  img(src="https://storage.googleapis.com/deuploadfile/javascript300.png")
  img(src="https://storage.googleapis.com/deuploadfile/javascript150.png")

  img(src="https://storage.googleapis.com/deuploadfile/Basket600.jpg")
  img(src="https://storage.googleapis.com/deuploadfile/Basket300.jpg")
  img(src="https://storage.googleapis.com/deuploadfile/Basket150.jpg")

  img(src="https://storage.googleapis.com/deuploadfile/RG600.jpg")
  img(src="https://storage.googleapis.com/deuploadfile/RG300.jpg")
  img(src="https://storage.googleapis.com/deuploadfile/RG150.jpg")

  img(src="https://storage.googleapis.com/deuploadfile/l_cheval-noir600.jpg")
  img(src="https://storage.googleapis.com/deuploadfile/l_cheval-noir300.jpg")
  img(src="https://storage.googleapis.com/deuploadfile/l_cheval-noir150.jpg")

  img(src="https://storage.googleapis.com/deuploadfile/newdauphin600.jpg")
  img(src="https://storage.googleapis.com/deuploadfile/newdauphin300.jpg")
  img(src="https://storage.googleapis.com/deuploadfile/newdauphin150.jpg")

  img(src="https://storage.googleapis.com/deuploadfile/docker600.png")
  img(src="https://storage.googleapis.com/deuploadfile/docker300.png")
  img(src="https://storage.googleapis.com/deuploadfile/docker150.png")
